@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("/source/fonts/oswald/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("/source/fonts/oswald/oswaldmedium.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("/source/fonts/lato/Lato-Regular.woff") format("woff");
}
.button {
  background-color: #68b738;
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background-color: #5eaa2f;
}
.button:active,
.button:focus {
  color: rgba(255, 255, 255, 0.3);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: hsl(0, 0%, 27%);
  margin: 0 auto;
}
.header--nojs .header__navigation {
  display: block;
}
.header--nojs .header__button {
  visibility: hidden;
}
.header__navigation {
  position: relative;
}
.header__navigation--open {
  display: block;
  position: absolute;
  background-color: #ffffff;
  top: 67px;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header__navigation--closed {
  display: none;
}
.header {
  overflow: hidden;
}
.header__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .header__container {
    width: 768px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .header__container {
    width: 1440px;
    padding: 0 110px;
  }
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0;
}
.header__link:hover {
  opacity: 0.8;
}
.header__link:active {
  opacity: 0.6;
}
.header__logo {
  width: 33px;
  height: 38px;
}
.header__link-title {
  margin-left: -10px;
}
.header__button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.header__button--closed {
  background-image: url("../img/icons/menu_close.svg");
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
.header__button--open {
  background-image: url("../img/icons/menu_open.svg");
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
.header__navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header__navigation-list-item {
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  padding-top: 22px;
  padding-bottom: 22px;
  text-align: center;
  position: relative;
}
.header__navigation-list-item::before {
  content: "";
  position: absolute;
  width: 300%;
  height: 1px;
  background-color: #ebebeb;
  bottom: 0;
  left: -100%;
}
.header__navigation-list-item:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 300%;
  height: 1px;
  background-color: #ebebeb;
  top: 0;
  left: -100%;
}
.header__navigation-list-link {
  text-decoration: none;
  color: #000000;
}
.header__navigation-list-link:hover {
  opacity: 0.8;
}
.header__navigation-list-link:active {
  opacity: 0.4;
}
@media (min-width: 768px) {
  .header {
    margin-bottom: 65px;
    border-bottom: none;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 39px;
  }
  .header__top {
    gap: 13px;
    padding: 0;
  }
  .header__logo {
    width: 60px;
    height: 50px;
  }
  .header__button {
    display: none;
  }
  .header__navigation-list {
    display: flex;
    gap: 33px;
    align-items: center;
  }
  .header__navigation-list-item {
    padding: 0;
    font-size: 18px;
    line-height: 133%;
  }
  .header__navigation-list-item::before {
    display: none;
  }
  .header__navigation-list-item:nth-child(1)::after {
    display: none;
  }
  .header__navigation--closed {
    display: block;
  }
  .header__navigation-list-current {
    border-bottom: 2px solid #68b738;
    margin-bottom: -2px;
  }
}
@media (min-width: 1440px) {
  .header {
    margin-bottom: 74px;
  }
  .header__container {
    padding-top: 55px;
  }
  .header__logo {
    width: 70px;
    height: 59px;
  }
  .header__navagation-index .header__navigation-list-link {
    color: #ffffff;
  }
  .header__navagation-index .header__navigation-list-current {
    border-bottom: 2px solid #ffffff;
  }
}
.main__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 25px;
  padding-top: 27px;
  margin-top: 0;
}
.main__tagline {
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 29px;
  color: #ffffff;
}
.main__button {
  padding: 10px 20px;
  width: 280px;
  height: 40px;
  background-color: #68b738;
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__button:hover {
  background-color: #5eaa2f;
}
.main__button:active,
.main__button:focus {
  color: rgba(255, 255, 255, 0.3);
}
.main__button-text {
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .main__title {
    order: 1;
    font-size: 60px;
    margin-bottom: 40px;
    margin-left: 90px;
    text-align: left;
    width: 420px;
    color: #000000;
    padding-top: 0;
  }
  .main__tagline {
    order: 2;
    font-size: 20px;
    margin-left: 90px;
    text-align: left;
    margin-bottom: 50px;
    color: #000000;
  }
  .main__button {
    order: 3;
    margin-left: 90px;
    width: 244px;
    height: 54px;
    padding: 14px 26px;
  }
  .main__button-text {
    font-size: 20px;
    line-height: 130%;
  }
}
@media (min-width: 1440px) {
  .main__title {
    margin-left: 80px;
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .main__tagline {
    margin-left: 80px;
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .main__button {
    margin-left: 80px;
    grid-column: 1/3;
    grid-row: 3/4;
  }
}
.promo {
  padding-bottom: 20px;
  position: relative;
}
.promo::before {
  content: "";
  position: absolute;
  background-image: url("../img/index-background-mobile.png");
  top: 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 302px;
  z-index: -1;
  background-size: cover;
  background-position: center;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .promo::before {
    background-image: url("../img/index-background-mobile@2x.png");
  }
}
.promo::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  background-color: #68b738;
  opacity: 0.8;
  top: 0;
  z-index: -1;
  height: 302px;
}
.promo__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .promo__container {
    width: 768px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .promo__container {
    width: 1440px;
    padding: 0 110px;
  }
}
.promo__wraper {
  text-align: center;
  position: relative;
}
.promo__picture {
  display: contents;
}
@media (min-width: 768px) {
  .promo::before {
    display: none;
  }
  .promo::after {
    display: none;
  }
  .promo__wraper {
    display: flex;
    flex-direction: column;
  }
  .promo-img {
    width: 709px;
    height: 609px;
    display: block;
    order: 4;
    z-index: -1;
    margin-top: -85px;
  }
}
@media (min-width: 1440px) {
  .promo {
    padding-bottom: 82px;
    position: static;
  }
  .promo::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../img/index-background-desktop.png");
    top: 0;
    background-position: center;
    right: 0;
    width: 50%;
    background-repeat: no-repeat;
    height: 694px;
    z-index: -2;
    background-size: cover;
  }
  .promo::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #68b738;
    opacity: 0.8;
    top: 0;
    right: 0;
    z-index: -2;
    width: 50%;
    height: 694px;
  }
  .promo__wraper {
    display: grid;
    grid-template-columns: 437px 163px 610px;
  }
  .promo-img {
    width: 552px;
    height: 499px;
    grid-column: 2/4;
    margin: 0;
    grid-row: 1 / 5;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .promo::before {
    background-image: url("../img/index-background-desktop@2x.png");
  }
}
.program {
  padding-bottom: 10px;
}
.program__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .program__container {
    width: 768px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .program__container {
    width: 1440px;
    padding: 0 110px;
  }
}
.program__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.program__list-item {
  background-color: #f2f2f2;
  padding: 30px 20px 20px;
  min-height: 266px;
  position: relative;
  box-sizing: border-box;
}
.program__list-item:nth-child(1) {
  margin-bottom: 20px;
}
.program__list-item::before {
  content: "";
  display: flex;
  position: absolute;
  background-color: #68b738;
  border-radius: 50%;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  z-index: 1;
  top: 24px;
}
.program__list-item--slim::after {
  content: "";
  display: flex;
  position: absolute;
  background-image: url("../img/program-slim.svg");
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  z-index: 1;
  top: 24px;
}
.program__list-item--pro::after {
  content: "";
  display: flex;
  position: absolute;
  background-image: url("../img/program-pro.svg");
  background-size: 67px 28px;
  width: 67px;
  height: 50px;
  z-index: 1;
  top: 24px;
  left: 12px;
  background-repeat: no-repeat;
  background-position: center;
}
.program__title {
  font-size: 24px;
  line-height: 154%;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  box-sizing: border-box;
  margin-bottom: 29px;
  margin-left: 70px;
}
.program__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 129%;
  color: #444444;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
}
.program__link {
  margin-top: 15px;
}
.program__link-item {
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000000;
  display: flex;
  gap: 15px;
  align-items: center;
}
.program__link-item:active,
.program__link-item:focus {
  opacity: 0.3;
}
.program__link-item-title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}
.program__link-item:hover .program__link-arrow {
  width: 32px;
}
.program__link-item:active .program__link-arrow {
  width: 32px;
  opacity: 0.3;
}
@media (min-width: 768px) {
  .program__title {
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 24px;
    margin-left: 0;
  }
  .program__text {
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 48px;
    border-bottom: none;
    padding-bottom: 0;
  }
  .program__list-item {
    padding-top: 77px;
    padding-left: 53px;
    padding-right: 350px;
    padding-bottom: 53px;
  }
  .program__list-item::before {
    background-size: 200px 211px;
    width: 200px;
    height: 211px;
    top: 81px;
    right: 63px;
  }
  .program__list-item--slim::after {
    background-size: 140px 194px;
    width: 140px;
    height: 194px;
    top: 81px;
    right: 93px;
  }
  .program__list-item--pro::after {
    background-size: 268px 112px;
    width: 268px;
    height: 112px;
    top: 135px;
    left: auto;
    right: 29px;
  }
  .program__link-item {
    padding: 4px 0;
  }
  .program__link-item-title {
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .program {
    padding-bottom: 71px;
  }
  .program__list {
    display: flex;
    gap: 80px;
  }
  .program__list-item {
    width: 570px;
    padding: 77px 61px 55px 52px;
  }
  .program__list-item::before {
    background-size: 100px 106px;
    width: 100px;
    height: 106px;
    top: 47px;
    right: auto;
  }
  .program__list-item--slim::after {
    background-size: 70px 97px;
    width: 70px;
    height: 97px;
    top: 47px;
    left: 70px;
  }
  .program__list-item--pro::after {
    background-size: 134px 56px;
    width: 134px;
    height: 100px;
    left: 33px;
    right: auto;
    top: 47px;
  }
  .program__title {
    text-align: center;
    margin-bottom: 73px;
    margin-left: 214px;
  }
  .program__text {
    margin-bottom: 23px;
    padding: 0;
  }
  .program__list-item:nth-child(1) {
    margin-bottom: 0;
  }
}
.instruction {
  padding-top: 10px;
  padding-bottom: 50px;
}
.instruction__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .instruction__container {
    width: 768px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .instruction__container {
    width: 1440px;
    padding: 0 110px;
  }
}
.instruction__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 111%;
  text-align: left;
  font-weight: 400;
  color: #000000;
  white-space: nowrap;
}
.instruction__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.instruction__item {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  position: relative;
}
.instruction__item:nth-last-child(1) {
  margin-bottom: 0;
}
.instruction__item::before {
  content: "";
  position: relative;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background-color: #68b738;
  display: flex;
  align-items: center;
  justify-content: center;
}
.instruction__item-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  margin: 0;
  width: 200px;
  box-sizing: border-box;
}
.instruction__item--1 .instruction__item-text::before {
  content: "";
  background-image: url("../img/instruction-item-1.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 32px;
  position: absolute;
  left: 18px;
  top: 18px;
}
.instruction__item--2 .instruction__item-text::before {
  content: "";
  background-image: url("../img/instruction-item-2.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 32px;
  position: absolute;
  left: 18px;
  top: 18px;
}
.instruction__item--3 .instruction__item-text::before {
  content: "";
  background-image: url("../img/instruction-item-3.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 32px;
  position: absolute;
  left: 18px;
  top: 18px;
}
.instruction__item--4 .instruction__item-text::before {
  content: "";
  background-image: url("../img/instruction-item-4.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 32px;
  position: absolute;
  left: 18px;
  top: 16px;
}
.instruction__item-box {
  width: 60px;
  height: 60px;
  background-color: #68b738;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .instruction {
    padding-bottom: 47px;
  }
  .instruction__title {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 32px;
    text-align: left;
  }
  .instruction__list {
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
    justify-content: space-between;
    counter-reset: number 0;
  }
  .instruction__item {
    width: 230px;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 55px;
    counter-increment: number 1;
    margin-bottom: 0;
  }
  .instruction__item::before {
    width: 80px;
    height: 80px;
    margin-right: 0;
  }
  .instruction__item--1 .instruction__item-text::before {
    left: 27px;
    top: 66px;
  }
  .instruction__item--2 .instruction__item-text::before {
    left: 27px;
    top: 66px;
  }
  .instruction__item--3 .instruction__item-text::before {
    left: 27px;
    top: 66px;
  }
  .instruction__item--4 .instruction__item-text::before {
    left: 27px;
    top: 66px;
  }
  .instruction__item::after {
    content: counter(number);
    position: absolute;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 280px;
    line-height: 100%;
    text-align: center;
    color: #f2f2f2;
    z-index: -1;
    right: 0;
    bottom: 0;
  }
  .instruction__illustration {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }
  .instruction__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    width: auto;
    color: #444444;
  }
}
@media (min-width: 1440px) {
  .instruction {
    padding-bottom: 69px;
  }
  .instruction__item {
    height: 280px;
    padding-bottom: 0;
    box-sizing: border-box;
  }
  .instruction__item::before {
    margin-bottom: 31px;
  }
  .instruction__list {
    justify-content: space-between;
    gap: 0;
  }
}
.example {
  background-color: #eaeaea;
  padding-top: 25px;
  padding-bottom: 40px;
}
.example__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .example__container {
    width: 768px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .example__container {
    width: 1440px;
    padding: 0 110px;
  }
}
.example__title {
  font-size: 36px;
  line-height: 111%;
  text-align: left;
  color: #000000;
  margin: 0;
  margin-bottom: 37px;
  font-weight: 400;
}
.example__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 129%;
  color: #444444;
  margin: 0;
  margin-bottom: 20px;
}
.example__result-stats {
  display: flex;
  gap: 32px;
}
.example__result-item {
  display: flex;
  position: relative;
  width: 124px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  margin-bottom: 34px;
}
.example__result-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  margin: auto;
}
.example__result-text {
  font-family: "Lato", sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -14px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  width: 90px;
  background-color: #eaeaea;
  padding-left: 17px;
  padding-right: 17px;
  box-sizing: border-box;
}
.example__price {
  font-weight: 400;
  line-height: 143%;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}
.example__slider {
  width: 280px;
  height: 256px;
}
.example__slider-image {
  width: 280px;
  height: 256px;
}
@media (min-width: 768px) {
  .example {
    background-color: transparent;
    padding-top: 45px;
    position: relative;
  }
  .example__title {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 60px;
    text-align: left;
  }
  .example__text {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 55px;
  }
  .example__result-item {
    width: 162px;
  }
  .example__result-stats {
    display: flex;
    gap: 43px;
    margin-right: auto;
  }
  .example__result-title {
    font-size: 30px;
    line-height: 123%;
  }
  .example__result-text {
    background-color: #ffffff;
    width: 128px;
    bottom: -6px;
  }
  .example__price {
    font-size: 20px;
    line-height: 100%;
    width: 185px;
    text-align: right;
  }
  .example__result {
    margin-bottom: 100px;
    display: flex;
  }
  .example__slider {
    margin: 0 auto;
    width: 560px;
    height: 512px;
  }
  .example__slider-image {
    width: 560px;
    height: 512px;
  }
  .example__container::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 462px;
    background-color: #f2f2f2;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .example {
    padding-top: 0;
  }
  .example__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 600px;
  }
  .example__title {
    margin-bottom: 146px;
  }
  .example__text {
    width: 436px;
    margin-bottom: 69px;
  }
  .example__result {
    flex-direction: column;
    margin-bottom: 0;
  }
  .example__result-stats {
    margin-bottom: 55px;
  }
  .example__result-item {
    margin-bottom: 0;
    width: 164px;
    height: 77px;
  }
  .example__result-text {
    background-color: #f2f2f2;
  }
  .example__price {
    width: auto;
    text-align: left;
    margin: 0;
  }
  .example__price span {
    margin-left: 63px;
  }
}
.contacts__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .contacts__container {
    width: 768px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .contacts__container {
    width: 1440px;
    padding: 0 110px;
  }
}
.contacts__info {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}
.contacts__info-title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #111111;
  box-sizing: border-box;
  flex: 1;
}
.contacts__info-adress {
  margin: 0;
  font-family: "Lato", sans-serif;
  flex: 1;
}
.contacts__info-adress-street,
.contacts__info-adress-city {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: left;
}
@media (min-width: 768px) {
  .contacts__info {
    padding: 61px 40px;
  }
  .contacts__info-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
  }
}
@media (min-width: 1440px) {
  .contacts__container {
    position: relative;
    margin: 0 auto;
  }
  .contacts__info {
    position: absolute;
    z-index: 1;
    top: 95px;
    width: 570px;
    background-color: #ffffff;
    padding: 60px 80px;
    box-sizing: border-box;
  }
  .contacts__info-text {
    text-align: left;
  }
}
.location__img {
  display: block;
  height: 360px;
  width: 100%;
}
.location__wrapper {
  overflow: hidden;
}
.location__wrapper-map {
  width: 100%;
  height: 360px;
  border: none;
  margin-bottom: -3px;
}
@media (min-width: 768px) {
  .location__wrapper-map {
    height: 400px;
  }
}
.footer {
  background-color: #f2f2f2;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .footer__container {
    width: 768px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .footer__container {
    width: 1440px;
    padding: 0 110px;
  }
}
.footer__logo {
  text-align: center;
  margin-bottom: 20px;
}
.footer__social {
  padding: 20px 5px;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
}
.footer__social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.footer__social-link {
  display: flex;
  width: 28px;
  height: 22px;
  text-align: center;
  align-items: center;
  position: relative;
}
.footer__social-icon path {
  fill: #666666;
}
.footer__social-link:hover .footer__social-icon,
.footer__social-link:focus .footer__social-icon {
  fill: #68b738;
}
.footer__social-link:active .footer__social-icon {
  opacity: 0.3;
  fill: #68b738;
}
.footer__logo-link:hover {
  opacity: 0.8;
}
.footer__logo-link:active,
.footer__logo-link:focus {
  opacity: 0.4;
}
.footer__logo-text {
  width: 128px;
  height: 24px;
}
.footer__developer-link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-size: 16px;
  line-height: 125%;
  color: #444444;
  align-items: center;
  margin-top: 20px;
}
.footer__developer-link:hover path,
.footer__developer-link:focus .footer__developer-link-img g path {
  fill: #68b738;
}
.footer__developer-link:active .footer__developer-link-text,
.footer__developer-link:active .footer__developer-link-img g path {
  fill: #68b738;
  opacity: 0.3;
}
.footer__developer-link-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  font-family: "Lato", sans-serif;
}
@media (min-width: 768px) {
  .footer {
    padding-top: 61.5px;
    padding-bottom: 61.5px;
  }
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer__logo {
    margin: 0;
  }
  .footer__social {
    border: none;
    padding: 0 5px;
  }
  .footer__developer-link {
    margin: 0;
  }
  .footer__developer-link-text {
    margin-right: 23px;
  }
}
.catalog {
  padding-bottom: 29px;
  overflow: hidden;
}
.catalog__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .catalog__container {
    width: 768px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .catalog__container {
    width: 1440px;
    padding: 0 110px;
  }
}
.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.catalog__list-item {
  position: relative;
  padding-bottom: 25px;
  padding-top: 20px;
}
.catalog__list-item::after {
  content: "";
  position: absolute;
  width: 300%;
  height: 1px;
  background-color: #ebebeb;
  bottom: 0;
  left: -100%;
}
.catalog__list-item:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 300%;
  height: 1px;
  background-color: #ebebeb;
  top: 0;
  left: -100%;
}
.catalog__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
  margin: 0;
  padding-top: 27px;
  margin-bottom: 41px;
}
@media (min-width: 768px) {
  .catalog {
    padding-bottom: 70px;
  }
  .catalog__title {
    font-size: 60px;
    padding-top: 10px;
    margin-bottom: 84px;
  }
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    align-items: center;
    justify-content: space-between;
  }
  .catalog__list-item {
    width: 324px;
    min-height: 511px;
    padding-bottom: 40px;
    padding-left: 38px;
    padding-right: 37px;
    margin-left: 0;
    box-sizing: border-box;
    padding-top: 0;
  }
  .catalog__list-item::after {
    display: none;
  }
  .catalog__list-item:nth-child(1)::before {
    display: none;
  }
  .catalog__list-item:not(:last-child) {
    padding-bottom: 40px;
  }
}
@media (min-width: 1440px) {
  .catalog {
    padding-bottom: 76px;
  }
  .catalog__list {
    gap: 80px;
  }
  .catalog__list-item {
    width: 245px;
  }
}
.product {
  position: relative;
}
.product__wrapper {
  margin-bottom: 17px;
  display: flex;
  text-align: center;
}
.product__img-wraper {
  width: 140px;
  height: 107px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__img {
  text-align: center;
}
.product__img--small {
  width: 68px;
  height: 86px;
}
.product__img--big {
  width: 84px;
  height: 100px;
}
.product__description {
  width: 140px;
}
.product__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #222222;
  text-align: left;
}
.product__title-link {
  text-decoration: none;
  color: inherit;
  margin-bottom: 14px;
}
.product__table {
  font-family: "Lato", sans-serif;
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  width: 100%;
}
.product__table-title {
  text-align: left;
  width: 96px;
  padding: 0;
}
.product__table-value {
  text-align: right;
  padding: 0;
}
.product__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #ffffff;
  padding: 6px 15px;
  width: 280px;
  height: 40px;
  background-color: #68b738;
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__button:hover {
  background-color: #5eaa2f;
}
.product__button:active,
.product__button:focus {
  color: rgba(255, 255, 255, 0.3);
}
.product__wrapper-more {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.product__more-title {
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
}
.product__more-text {
  font-size: 12px;
  line-height: 133%;
  color: #444444;
  font-family: "Lato", sans-serif;
  margin: 0;
  margin-bottom: 21px;
}
.product__more-add {
  color: #d3d3d3;
  margin: 25px auto 23px;
}
.product__button-more {
  padding: 6px 15px;
  width: 280px;
  height: 40px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__button-more:hover {
  background-color: #ebebeb;
}
.product__button-more:active,
.product__button-more:focus {
  background-color: #ebebeb;
  opacity: 0.8;
}
.product__button-more-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #444444;
  text-decoration: none;
}
@media (min-width: 768px) {
  .product__wrapper::after {
    content: "";
    position: absolute;
    width: 324px;
    height: 430px;
    background-color: #f2f2f2;
    bottom: 0;
    z-index: -1;
  }
  .product__wrapper {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  .product__img-wraper {
    width: 200px;
    height: 210px;
    margin-bottom: 22px;
    box-sizing: border-box;
    padding-top: 15px;
  }
  .product__img--small {
    width: 161px;
    height: 172px;
  }
  .product__img--big {
    width: 168px;
    height: 200px;
  }
  .product__description {
    width: 100%;
    margin-bottom: 32px;
  }
  .product__title {
    text-align: center;
    font-size: 20px;
    line-height: 120%;
  }
  .product__table {
    display: table;
    padding: 0 37px;
    font-size: 16px;
    line-height: 125%;
    border-collapse: collapse;
  }
  .product_table-line {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #cdcdcd;
  }
  .product__button {
    width: 100%;
    background-color: #68b738;
    box-sizing: border-box;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product__button:hover {
    background-color: #5eaa2f;
  }
  .product__button:active,
  .product__button:focus {
    color: rgba(255, 255, 255, 0.3);
  }
  .product--more {
    min-height: auto;
    margin-top: 80px;
    padding-top: 48px;
    padding-bottom: 41px;
    border: 1px solid #e6e6e6;
  }
  .product__more-add {
    width: 60px;
    height: 60px;
    margin-bottom: 50px;
    margin-top: 0;
  }
  .product__more-title {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 23px;
  }
  .product__more-text {
    font-size: 16px;
    line-height: 112%;
    margin-bottom: 82px;
  }
  .product__button-more {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .product__img--big {
    width: 172px;
    height: 196px;
  }
  .product__wrapper::after {
    width: 245px;
  }
}
.catalog-additional__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
}
@media (min-width: 768px) {
  .catalog-additional__container {
    width: 768px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .catalog-additional__container {
    width: 1440px;
    padding: 0 110px;
  }
}
.catalog-additional {
  overflow: hidden;
}
.catalog-additional__title {
  margin: 0;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 100%;
  font-weight: 400;
  background-color: #ffffff;
}
.catalog-additional__title::before {
  content: "";
  z-index: -1;
  width: 200%;
  height: 3px;
  position: absolute;
  top: 14px;
  left: 24px;
  background-color: #68b738;
}
.catalog-additional__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}
.catalog-additional__gift {
  width: 280px;
  height: 290px;
  background-image: url("../img/gift_mobile.png");
  background-size: cover;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-bottom: 35px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .catalog-additional__gift {
    background-image: url("../img/gift_mobile@2x.png");
  }
}
.catalog-additional__gift::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #68b738;
  opacity: 0.8;
  top: 0;
  z-index: -1;
}
.catalog-additional__gift-svg {
  color: #ffffff;
  margin-top: 59px;
  margin-bottom: 48px;
}
.catalog-additional__gift-text {
  width: 161px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
}
@media (min-width: 768px) {
  .catalog-additional__container {
    margin-bottom: 75px;
    font-size: 36px;
    padding-top: 0;
  }
  .catalog-additional__list {
    margin-bottom: 70px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }
  .catalog-additional__container::before {
    top: 20px;
    right: -30px;
    width: 110%;
  }
  .catalog-additional__title {
    font-size: 36px;
    margin-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
  }
  .catalog-additional__gift {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url("../img/gift_tablet.png");
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 12px;
  }
  .catalog-additional__title::before {
    top: 22px;
    width: 300%;
    left: -100%;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .catalog-additional__gift {
    background-image: url("../img/gift_tablet@2x.png");
  }
}
@media (min-width: 1440px) {
  .catalog-additional {
    padding-bottom: 87px;
  }
  .catalog-additional__title {
    margin-left: -40px;
  }
  .catalog-additional__container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .catalog-additional__list {
    margin-right: 80px;
    flex-grow: 1;
    margin-bottom: 0;
    border-left: none;
    border-right: none;
  }
  .catalog-additional__gift {
    width: 245px;
    height: 288px;
    padding-bottom: 0;
    background-size: cover;
    background-image: url("../img/gift_desktop.png");
    flex-direction: column;
    justify-content: normal;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .catalog-additional__gift {
    background-image: url("../img/gift_desktop@2x.png");
  }
}
.product-additional {
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 19px;
}
.product-additional:nth-child(1) {
  border-top: 1px solid #cdcdcd;
}
.product-additional__title {
  margin: 0;
  padding-top: 13px;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #222222;
}
.product-additional__table {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  font-family: "Lato", sans-serif;
  width: 280px;
  margin-bottom: 15px;
}
.product-additional__table-title {
  text-align: left;
}
.product-additional__table-value {
  text-align: right;
}
.product-additional__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding: 6px 15px;
  width: 280px;
  height: 40px;
  background-color: #68b738;
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-additional__button:hover {
  background-color: #5eaa2f;
}
.product-additional__button:active,
.product-additional__button:focus {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .product-additional {
    border-top: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 37px 29px 38px;
    gap: 22px;
  }
  .product-additional__table {
    margin-bottom: 0;
  }
  .product-additional__button {
    width: 100%;
  }
  .product-additional__title {
    font-size: 20px;
    padding-top: 0;
    margin-bottom: 0;
  }
  .product-additional__table-title {
    font-size: 16px;
    line-height: 125%;
    text-align: right;
  }
  .product-additional__table-value {
    font-size: 16px;
    line-height: 125%;
  }
}
@media (min-width: 1440px) {
  .product-additional {
    flex-wrap: nowrap;
    align-items: center;
    width: 895px;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    padding-bottom: 17px;
  }
  .product-additional__title {
    width: 244px;
    margin-bottom: 0;
  }
  .product-additional__button {
    width: 244px;
  }
  .product-additional__table {
    margin-bottom: 0;
  }
  .product-additional__table-title {
    text-align: left;
  }
  .product-additional__table-value {
    text-align: left;
    width: 60px;
  }
}
.catalog-contacts {
  background-color: #f2f2f2;
  padding-bottom: 25px;
}
.catalog-contacts__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  padding: 26px 20px;
}
@media (min-width: 768px) {
  .catalog-contacts__container {
    width: 768px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .catalog-contacts__container {
    width: 1440px;
    padding: 0 110px;
  }
}
.catalog-contacts__info {
  display: flex;
  justify-content: space-between;
}
.catalog-contacts__info-title {
  font-style: "Lato", sans-serif;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  padding: 0 5px;
  box-sizing: border-box;
}
.catalog-contacts__info-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #444444;
  margin: 0;
}
.catalog-contacts__info-street,
.catalog-contacts__info-city {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  font-family: "Lato", sans-serif;
}
@media (min-width: 768px) {
  .catalog-contacts {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
  }
  .catalog-contacts__info-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
  }
  .catalog-contacts__info-street {
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 19px;
  }
  .catalog-contacts__info {
    padding: 60px 40px;
  }
  .catalog-contacts__info-text {
    font-size: 16px;
    line-height: 125%;
    text-align: right;
  }
}
@media (min-width: 1440px) {
  .catalog-contacts__container {
    position: relative;
    margin: 0 auto;
  }
  .catalog-contacts__info {
    position: absolute;
    z-index: 1;
    top: 95px;
    width: 570px;
    background-color: #ffffff;
    padding: 60px 80px;
    box-sizing: border-box;
  }
  .catalog-contacts__info-text {
    text-align: left;
  }
}
.selection {
  padding-bottom: 32px;
  overflow: hidden;
}
.selection__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .selection__container {
    width: 768px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .selection__container {
    width: 1440px;
    padding: 0 110px;
  }
}
.selection__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
  margin-bottom: 37px;
}
.selection__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 39px;
}
.selection__fields {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  margin: 0;
}
.selection__fields-form {
  display: flex;
  min-height: 45px;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
}
.selection__fields-text {
  margin-right: 13px;
  color: #444444;
  text-transform: uppercase;
  white-space: nowrap;
}
.selection__fields-input-text {
  font-family: "Oswald", sans-serif;
  flex-grow: 1;
  height: 45px;
  color: #444444;
  box-sizing: border-box;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  padding: 13px;
}
.selection__fields-input-text:hover {
  border-color: #cdcdcd;
}
.selection__fields-input-text:focus,
.selection__fields-input-text:active {
  border-color: #444444;
  outline: 1px solid #444444;
}
.selection__fields-input-text:focus + .selection__fields-icon path,
.selection__fields-input-text:active + .selection__fields-icon path {
  stroke: #68b738;
}
.selection__fields-input-text:focus:invalid {
  border-color: #ff8282;
  outline: 1px solid #ff8282;
}
.selection__fields-input-text:focus:invalid + .selection__fields-icon path {
  stroke: #ff8282;
}
.selection__fields-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.selection__fields--personal {
  margin-bottom: 24px;
}
.selection__fields--program {
  padding-top: 22px;
  padding-bottom: 19px;
  margin-bottom: 26px;
  position: relative;
}
.selection__fields--program::after {
  content: "";
  position: absolute;
  width: 300%;
  height: 1px;
  background-color: #ebebeb;
  bottom: 0;
  left: -100%;
}
.selection__fields--program::before {
  content: "";
  position: absolute;
  width: 300%;
  height: 1px;
  background-color: #ebebeb;
  top: 0;
  left: -100%;
}
.selection__fields-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
}
.selection__fields-list-item:nth-last-child(1) {
  margin-bottom: 0;
}
.selection__fields-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 108%;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
  background-color: #ffffff;
  display: inline-block;
  padding-right: 20px;
}
.selection__fields-block {
  display: flex;
  align-items: center;
  position: relative;
}
.selection__fields-icon {
  position: absolute;
  top: 13px;
  right: 12px;
}
.selection__fields--contacts {
  margin-bottom: 24px;
  position: relative;
}
.selection__fields--contacts .selection__fields-title {
  width: 190px;
}
.selection__fields--contacts::before {
  content: "";
  z-index: -1;
  width: 300%;
  height: 3px;
  position: absolute;
  top: 15px;
  left: 0;
  background-color: #68b738;
}
.selection__fields-block-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.selection__fields-text-area {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: #444444;
  padding: 14px;
  height: 150px;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
}
.selection__fields--comment {
  margin-bottom: 23px;
  position: relative;
}
.selection__fields--comment .selection__fields-title {
  width: 130px;
}
.selection__fields--comment::before {
  content: "";
  z-index: -1;
  width: 300%;
  height: 3px;
  position: absolute;
  top: 15px;
  left: 0;
  background-color: #68b738;
}
.selection__fields-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: #444444;
  position: relative;
  display: flex;
  align-items: center;
}
.selection__fields-item-input:focus + span {
  outline: 1px solid #68b738;
}
.selection__fields-item-input:focus + span::before {
  border-color: #68b738;
}
.selection__fields-item-input:disabled + span {
  opacity: 0.3;
}
.selection__fields-list-wraper {
  display: flex;
}
.selection__fields-item-text--radio::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  margin-right: 20px;
  box-sizing: border-box;
}
.selection__fields-item-text--radio::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #68b738;
  top: 50%;
  left: -6px;
  transform: translate(66%, -50%);
  opacity: 0;
}
.selection__fields-item-input:checked + .selection__fields-item-text--radio::after {
  opacity: 1;
}
.selection__fields-item-text--checkbox::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  margin-right: 20px;
  box-sizing: border-box;
}
.selection__fields-item-text--checkbox::after {
  content: "";
  position: absolute;
  display: inline-block;
  background-image: url("../img/icons/check-small.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 26px;
  height: 26px;
  top: 15px;
  left: -15px;
  transform: translate(66%, -50%);
  opacity: 0;
}
.selection__fields-item-input:checked + .selection__fields-item-text--checkbox::after {
  opacity: 1;
}
.selection__fields--extra {
  margin-bottom: 34px;
  position: relative;
}
.selection__fields--extra .selection__fields-title {
  width: 161px;
}
.selection__fields--extra::before {
  content: "";
  z-index: -1;
  width: 300%;
  height: 3px;
  position: absolute;
  top: 15px;
  left: 0;
  background-color: #68b738;
}
.selection__fields-button {
  background-color: #68b738;
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 21px;
  padding: 6px 15px;
  width: 100%;
  min-height: 40px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
}
.selection__fields-button:hover {
  background-color: #5eaa2f;
}
.selection__fields-button:active,
.selection__fields-button:focus {
  color: rgba(255, 255, 255, 0.3);
}
.selection__fields-text-description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  color: #000000;
  margin: 0;
}
@media (min-width: 768px) {
  .selection__title {
    margin: 0;
    margin-bottom: 54px;
    font-size: 60px;
    margin-left: 40px;
  }
  .selection__description {
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 150%;
    margin-left: 40px;
  }
  .selection__form {
    margin: 0 40px;
  }
  .selection__fields {
    gap: 20px;
  }
  .selection__fields-block-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .selection__fields-title {
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 76px;
    padding-left: 40px;
    margin-left: -40px;
  }
  .selection__fields-text {
    font-size: 20px;
  }
  .selection__fields-input-text {
    font-size: 20px;
  }
  .selection__fields-item-text--radio::before {
    width: 40px;
    height: 40px;
  }
  .selection__fields-item-text--radio::after {
    top: 50%;
    left: 0;
  }
  .selection__fields-item-text--checkbox::before {
    width: 40px;
    height: 40px;
  }
  .selection__fields-item-text--checkbox::after {
    width: 26px;
    height: 26px;
    background-image: url("../img/icons/check.svg");
    top: 20px;
    left: -8px;
  }
  .selection__fields--personal {
    margin-bottom: 72px;
  }
  .selection__fields--program {
    border: 1px solid #d9d9d9;
    padding-top: 23px;
    padding-bottom: 27px;
    margin-bottom: 65px;
  }
  .selection__fields--program::after,
  .selection__fields--program::before {
    display: none;
  }
  .selection__fields--contacts {
    margin-bottom: 65px;
  }
  .selection__fields--contacts .selection__fields-title {
    width: 520px;
  }
  .selection__fields--contacts::before,
  .selection__fields--comment::before,
  .selection__fields--extra::before {
    width: 300%;
    top: 20px;
    left: -100%;
  }
  .selection__fields--comment {
    margin-bottom: 65px;
  }
  .selection__fields--comment .selection__fields-title {
    margin-bottom: 87px;
    width: 260px;
  }
  .selection__fields-text-area {
    font-size: 20px;
    line-height: 150%;
    height: 175px;
  }
  .selection__fields--extra {
    margin-bottom: 65px;
  }
  .selection__fields--extra .selection__fields-title {
    width: 292px;
  }
  .selection__fields-list {
    margin-left: 27px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  .selection__fields-list--extra {
    margin-left: 0;
  }
  .selection__fields--extra .selection__fields-list-item {
    width: 250px;
  }
  .selection__fields--program .selection__fields-list {
    flex-direction: column;
  }
  .selection__fields-list-item {
    width: auto;
  }
  .selection__fields-item-text {
    font-size: 20px;
  }
  .selection__fields-button-wrapper {
    display: flex;
    align-items: center;
  }
  .selection__fields-button {
    width: 284px;
    height: 54px;
    margin-right: 60px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 130%;
  }
  .selection__fields-text-description {
    font-size: 16px;
    line-height: 100%;
  }
}
@media (min-width: 1440px) {
  .selection__title {
    margin-bottom: 55px;
    margin-left: 0;
  }
  .selection__description {
    margin-bottom: 66px;
    margin-left: 0;
  }
  .selection__form {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 80px 70px;
  }
  .selection__fields-block-wrapper {
    display: flex;
    flex-direction: row;
    gap: 80px;
  }
  .selection__fields--personal {
    margin-bottom: 0;
    width: 570px;
  }
  .selection__fields--program {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 0;
    width: 568px;
  }
  .selection__fields-input-text {
    height: 52px;
  }
  .selection__fields-list {
    flex-direction: column;
    gap: 13px;
    margin-left: 28px;
  }
  .selection__fields-list-item {
    width: 100%;
  }
  .selection__fields--contacts {
    margin-bottom: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .selection__fields-title {
    width: 100%;
  }
  .selection__fields--contacts .selection__fields-title {
    margin-bottom: 76px;
  }
  .selection__fields-block {
    width: 570px;
  }
  .selection__fields--comment {
    margin-bottom: 0;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .selection__fields--comment .selection__fields-title {
    margin-bottom: 78px;
  }
  .selection__fields-text-area {
    width: 100%;
  }
  .selection__fields--extra {
    margin-bottom: 0;
    width: 100%;
  }
  .selection__fields--extra .selection__fields-title {
    margin-bottom: 57px;
  }
  .selection__fields-list--extra {
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .selection__fields-button {
    width: 570px;
  }
}
.slider__list {
  position: relative;
}
.slider__item {
  display: flex;
  justify-content: center;
}
.slider__item--before {
  position: absolute;
  left: 50%;
  top: 1px;
  transform: translate(-100%, 0);
  width: 50%;
}
.slider__item--after {
  position: absolute;
  left: 50%;
  transform: translate(0, 0);
  top: 1px;
  width: 50%;
}
.slider__box {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 256px;
  margin: 0 auto;
}
.slider__item img {
  position: absolute;
  bottom: 12px;
  transform: translate(-50%, 0);
}
.slider__item--before img {
  left: 100%;
  width: 280px;
  height: 256px;
}
.slider__item--after img {
  left: 0;
  width: 280px;
  height: 256px;
}
@media (min-width: 768px) {
  .slider__box {
    height: 512px;
  }
  .slider__item--before img {
    width: 560px;
    height: 512px;
  }
  .slider__item--after img {
    width: 560px;
    height: 512px;
  }
}
/*# sourceMappingURL=style.css.map */
